<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, magni harum nisi autem provident temporibus tempore dolor dolorum. Libero doloribus earum dolor tenetur distinctio vitae repellat qui sapiente, praesentium quibusdam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, magni harum nisi autem provident temporibus tempore dolor dolorum. Libero doloribus earum dolor tenetur distinctio vitae repellat qui sapiente, praesentium quibusdam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, magni harum nisi autem provident temporibus tempore dolor dolorum. Libero doloribus earum dolor tenetur distinctio vitae repellat qui sapiente, praesentium quibusdam.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>